# Task: Create a dataframe and export it as a CSV file.
## By: Favour Ojiokpota

In [4]:
# Import library
import pandas as pd

### Creating dictionaries

In [33]:
data = {
    'First Name' : ['Favour', 'David', 'Gift', 'Rejoice','Uyi', 'Sophia', 'Ifolo', 'Ifeoma','Priscillia', 'Rita', 'Samuel', 'Andrew', 'Claire', 'Ebuka', 'Princess', 'Treasure','Glory', 'Maryrose', 'Success', 'Elvis'],
    'Last Name' : ['Ojiokpota', 'Asamonye', 'Osamu', 'Omoefe', 'Erukpe', 'Okafor', 'Nmadu', 'Ezenkwu', 'Okonkwo', 'Ojiokpota', 'Akinlaja','Osagie', 'Ezinne', 'Ofojebe', 'Odeme', 'Osarieme', 'Pele', 'Okeke', 'Okun', 'Maro'],
    'DOB' : ['18/11/2010', '24/4/2007', '1/2/2008', '3/4/2009', '6/4/2008', '18/6/2009', '12/12/2008', '21/9/2009', '7/10/2006', '6/10/2011', '10/10/2010', '16/6/2009', '24/3/2009', '17/10/2010', '11/11/2007', '7/4/2011', '15/4/2010', '15/9/2006', '16/11/2007', '10/3/2011'],
    'Career Option' : ['Science', 'Science', 'Science', 'Art', 'Art', 'Science', 'Science', 'Art', 'Science', 'Art', 'Science', 'Art', 'Science', 'Science', 'Art', 'Science', 'Science', 'Art', 'Art', 'Art'],
    'Age' : [15, 18, 17, 16, 17, 16, 14, 17, 18, 13, 15, 16, 16, 15, 18, 14, 15, 19, 18, 14]
}
print(data)

{'First Name': ['Favour', 'David', 'Gift', 'Rejoice', 'Uyi', 'Sophia', 'Ifolo', 'Ifeoma', 'Priscillia', 'Rita', 'Samuel', 'Andrew', 'Claire', 'Ebuka', 'Princess', 'Treasure', 'Glory', 'Maryrose', 'Success', 'Elvis'], 'Last Name': ['Ojiokpota', 'Asamonye', 'Osamu', 'Omoefe', 'Erukpe', 'Okafor', 'Nmadu', 'Ezenkwu', 'Okonkwo', 'Ojiokpota', 'Akinlaja', 'Osagie', 'Ezinne', 'Ofojebe', 'Odeme', 'Osarieme', 'Pele', 'Okeke', 'Okun', 'Maro'], 'DOB': ['18/11/2010', '24/4/2007', '1/2/2008', '3/4/2009', '6/4/2008', '18/6/2009', '12/12/2008', '21/9/2009', '7/10/2006', '6/10/2011', '10/10/2010', '16/6/2009', '24/3/2009', '17/10/2010', '11/11/2007', '7/4/2011', '15/4/2010', '15/9/2006', '16/11/2007', '10/3/2011'], 'Career Option': ['Science', 'Science', 'Science', 'Art', 'Art', 'Science', 'Science', 'Art', 'Science', 'Art', 'Science', 'Art', 'Science', 'Science', 'Art', 'Science', 'Science', 'Art', 'Art', 'Art'], 'Age': [15, 18, 17, 16, 17, 16, 14, 17, 18, 13, 15, 16, 16, 15, 18, 14, 15, 19, 18, 14]}

### Conversion of dictionary to DataFrame

In [35]:
df = pd.DataFrame(data)
print(df)

    First Name  Last Name         DOB Career Option  Age
0       Favour  Ojiokpota  18/11/2010       Science   15
1        David   Asamonye   24/4/2007       Science   18
2         Gift      Osamu    1/2/2008       Science   17
3      Rejoice     Omoefe    3/4/2009           Art   16
4          Uyi     Erukpe    6/4/2008           Art   17
5       Sophia     Okafor   18/6/2009       Science   16
6        Ifolo      Nmadu  12/12/2008       Science   14
7       Ifeoma    Ezenkwu   21/9/2009           Art   17
8   Priscillia    Okonkwo   7/10/2006       Science   18
9         Rita  Ojiokpota   6/10/2011           Art   13
10      Samuel   Akinlaja  10/10/2010       Science   15
11      Andrew     Osagie   16/6/2009           Art   16
12      Claire     Ezinne   24/3/2009       Science   16
13       Ebuka    Ofojebe  17/10/2010       Science   15
14    Princess      Odeme  11/11/2007           Art   18
15    Treasure   Osarieme    7/4/2011       Science   14
16       Glory       Pele   15/4/2010       Science   15
17    Maryrose      Okeke   15/9/2006           Art   19
18     Success       Okun  16/11/2007           Art   18
19       Elvis       Maro   10/3/2011           Art   14

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   First Name     20 non-null     object
 1   Last Name      20 non-null     object
 2   DOB            20 non-null     object
 3   Career Option  20 non-null     object
 4   Age            20 non-null     int64
dtypes: int64(1), object(4)
memory usage: 932.0+ bytes

### Exporting dataframe as a csv file

In [53]:
df.to_csv('C:/Users/cdasa/OneDrive/Documents/HSStudents.csv', index = False)